# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
misc.xml
OnePercentBetter.iml
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
/KivyMD-master/.gitignore
/KivyMD-master/.gitlab-ci.yml
/KivyMD-master/docs/_templates/sphinx_theme_pd/__init__.py
/KivyMD-master/gitlab-ci/p4a-recipes/kivymd/__init__.py
/KivyMD-master/kivymd/vendor/circleLayout/__init__.py
/KivyMD-master/kivymd/vendor/circularTimePicker/__init__.py
/KivyMD-master/kivymd/vendor/navigationdrawer/__init__.py
/KivyMD-master/kivymd/vendor/__init__.py
/KivyMD-master/kivymd/__init__.py
/KivyMD-master/kivymd/accordion.py
/KivyMD-master/demos/kitchen_sink/assets/african-lion-951778_1280.jpg
/KivyMD-master/gitlab-ci/android_sdk_downloader.py
/KivyMD-master/demos/kitchen_sink/assets/avatar.png
/KivyMD-master/kivymd/backgroundcolorbehavior.py
/KivyMD-master/demos/kitchen_sink/assets/beautiful-931152_1280.jpg
/KivyMD-master/kivymd/bottomsheet.py
/KivyMD-master/kivymd/button.py
/KivyMD-master/demos/kitchen_sink/assets/camera.png
/KivyMD-master/kivymd/card.py
/KivyMD-master/demos/kitchen_sink/assets/cloud-upload.png
/KivyMD-master/kivymd/color_definitions.py
/KivyMD-master/docs/conf.py
/KivyMD-master/kivymd/date_picker.py
/KivyMD-master/kivymd/dialog.py
/KivyMD-master/kivymd/elevationbehavior.py
/KivyMD-master/demos/kitchen_sink/assets/facebook-box.png
/KivyMD-master/kivymd/grid.py
/KivyMD-master/demos/kitchen_sink/assets/guitar-1139397_1280.jpg
/KivyMD-master/kivymd/icon_definitions.py
/KivyMD-master/docs/index.rst
/KivyMD-master/demos/kitchen_sink/assets/kitten-1049129_1280.jpg
/KivyMD-master/docs/kivymd.bottomsheet.rst
/KivyMD-master/docs/kivymd.list.rst
/KivyMD-master/docs/kivymd.navigationdrawer.rst
/KivyMD-master/docs/kivymd.snackbar.rst
/KivyMD-master/kivymd/images/kivymd_512.png
/KivyMD-master/demos/kitchen_sink/assets/kivymd_logo.png
/KivyMD-master/kivymd/images/kivymd_logo.png
/KivyMD-master/kivymd/label.py
/KivyMD-master/docs/_templates/sphinx_theme_pd/layout.html
/KivyMD-master/kivymd/vendor/circleLayout/LICENSE
/KivyMD-master/kivymd/vendor/circularTimePicker/LICENSE
/KivyMD-master/kivymd/vendor/navigationdrawer/LICENSE
/KivyMD-master/LICENSE
/KivyMD-master/demos/kitchen_sink/assets/light-bulb-1042480_1280.jpg
/KivyMD-master/kivymd/list.py
/KivyMD-master/demos/kitchen_sink/main.py
/KivyMD-master/docs/Makefile
/KivyMD-master/kivymd/material_resources.py
/KivyMD-master/kivymd/fonts/materialdesignicons-webfont.ttf
/KivyMD-master/kivymd/menu.py
/KivyMD-master/kivymd/navigationdrawer.py
/KivyMD-master/docs/_templates/sphinx_theme_pd/page.html
/KivyMD-master/docs/_templates/sphinx_theme_pd/static/pd.css
/KivyMD-master/docs/_templates/sphinx_theme_pd/static/pd.js
/KivyMD-master/kivymd/progressbar.py
/KivyMD-master/kivymd/images/quad_shadow.atlas
/KivyMD-master/kivymd/images/quad_shadow-0.png
/KivyMD-master/kivymd/images/quad_shadow-1.png
/KivyMD-master/kivymd/images/quad_shadow-2.png
/KivyMD-master/gitlab-ci/README.md
/KivyMD-master/kivymd/vendor/circleLayout/README.md
/KivyMD-master/kivymd/vendor/circularTimePicker/README.md
/KivyMD-master/kivymd/vendor/navigationdrawer/README.md
/KivyMD-master/README.md
/KivyMD-master/kivymd/images/rec_shadow.atlas
/KivyMD-master/kivymd/images/rec_shadow-0.png
/KivyMD-master/kivymd/images/rec_shadow-1.png
/KivyMD-master/kivymd/images/rec_st_shadow.atlas
/KivyMD-master/kivymd/images/rec_st_shadow-0.png
/KivyMD-master/kivymd/images/rec_st_shadow-1.png
/KivyMD-master/kivymd/images/rec_st_shadow-2.png
/KivyMD-master/kivymd/ripplebehavior.py
/KivyMD-master/demos/kitchen_sink/assets/robin-944887_1280.jpg
/KivyMD-master/kivymd/fonts/Roboto-Bold.ttf
/KivyMD-master/kivymd/fonts/Roboto-Italic.ttf
/KivyMD-master/kivymd/fonts/Roboto-Light.ttf
/KivyMD-master/kivymd/fonts/Roboto-LightItalic.ttf
/KivyMD-master/kivymd/fonts/Roboto-Medium.ttf
/KivyMD-master/kivymd/fonts/Roboto-MediumItalic.ttf
/KivyMD-master/kivymd/fonts/Roboto-Regular.ttf
/KivyMD-master/kivymd/fonts/Roboto-Thin.ttf
/KivyMD-master/kivymd/fonts/Roboto-ThinItalic.ttf
/KivyMD-master/kivymd/images/round_shadow.atlas
/KivyMD-master/kivymd/images/round_shadow-0.png
/KivyMD-master/kivymd/images/round_shadow-1.png
/KivyMD-master/kivymd/images/round_shadow-2.png
/KivyMD-master/kivymd/selectioncontrols.py
/KivyMD-master/setup.py
/KivyMD-master/kivymd/slider.py
/KivyMD-master/kivymd/slidingpanel.py
/KivyMD-master/kivymd/snackbar.py
/KivyMD-master/kivymd/spinner.py
/KivyMD-master/kivymd/tabs.py
/KivyMD-master/demos/kitchen_sink/assets/tangerines-1111529_1280.jpg
/test.kv
/test.py
/KivyMD-master/kivymd/textfields.py
/KivyMD-master/docs/_templates/sphinx_theme_pd/theme.conf
/KivyMD-master/kivymd/theme_picker.py
/KivyMD-master/kivymd/theming.py
/KivyMD-master/kivymd/theming_dynamic_text.py
/KivyMD-master/kivymd/time_picker.py
/KivyMD-master/kivymd/toolbar.py
/KivyMD-master/kivymd/images/transparent.png
/KivyMD-master/demos/kitchen_sink/assets/twitter.png
/KivyMD-master/demos/kitchen_sink/assets/youtube-play.png